html {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

body{
  background-image: url("./images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

.container-main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date-time-container {
  font-size: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather-events-container{
  flex-direction: row;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}
