.local-time {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  font-size: 75%;
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
}

.world-time {
  font-size: 1.5em;
  text-align: right;
  position:absolute;
  top: 10px;
  right:10px;
}

.today-date {
  font-size: 2em;
  text-align: center;
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
}
