.today-event-list-container {
  display: flex;
  flex-grow: 2;
  margin-top: 2em;
  margin-left: 2em;
  font-size: 2em;
  text-align: left;
  font-weight: bold;
}

.today-event-list-container > ul {
  list-style: none;
  list-style-image: url('./images/calendar.png');
}

.future-event-list-container > ul {
  list-style: none;
  font-size: 2em;
  font-weight: bold;
  justify-content: space-around;
  list-style-image: url('./images/calendar.png');
}

.future-event-list-container > ul > li {
  padding-left: 10px;
}

.today-event-list-container > ul > li {
  padding-left: 10px;
}
