.today-weather-container{
  display: flex;
  flex-grow: 1;
  margin-top: 2em;
  margin-left: 2em;
  flex-direction: row;
}

.weather-day {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
}

.weather-now {
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.weather-now-degree {
  display: flex;
  flex-direction: row;
}
.weather-now-feels-like {
  font-size: 0.3em;
}

.air-quality {
  font-size: 0.3em;
}

.weather-now-hourly {
  display: flex;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 3em;
}

.weather-now-hourly > div {
  padding-left: 50px;
}

.weather-now-hourly .icon {
  font-size: 2em;
}

.forecastHour {
  min-width: 50px;
}

.weather-view {
  display: flex;
  flex-direction: column;
}

.weather-view-overview-alert{
  display: flex;
  flex-direction: column;
}

.weather-daily-forecast-container{
  display: flex;
  flex-direction: row;
  overflow:auto;
  margin-top: 1.5em;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  -webkit-overflow-scrolling:touch;
}

.weather-daily-forecast-container > div {
  padding-left: 30px;
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-icons/meteocons-webfont.eot');
    src: url('meteocons-icons/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-icons/meteocons-webfont.woff') format('woff'),
         url('meteocons-icons/meteocons-webfont.ttf') format('truetype'),
         url('meteocons-icons/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-legend {
  flex-grow: 0.1;
  text-align: center;
}

.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}
